@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto&display=swap");

:root {
  --pri-color: #f00c0c;
  --text-gray: #8892b0;
  --text-light: #686666da;
  --bg-color: #052549;
  --midnight: #101823;
  --light-slate: #a8b2d1;
  --bg: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
html {
  overflow: hidden;
  background-color: var(--midnight);
  color: var(--text-light);
}

a {
  text-decoration: none;
  color: var(--light-slate);
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

.nav {
  background: var(--midnight);
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
}

.nav .nav-menu {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.5rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.nav .nav-items .nav-link:hover {
  background-color: var(--bg-color);
}

.nav .nav-items .nav-link:hover a {
  color: var(--pri-color);
}
.nav .nav-brand a {
  padding: 1rem 0;
  display: block;
}

.nav .social {
  padding: 1.8rem 0;
}

.nav .social i {
  padding: 0 0.2rem;
  font-size: 20px;
}

.nav .social i:hover {
  color: var(--pri-color);
}

.nav .nav-items .nav-link:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -3px;
  border: 2px solid #e41739;
}

@media only screen and (max-width: 750px) {
  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }
}
