@import "https://fonts.googleapis.com/css?family=Raleway:400,700";

html {
}
#wrapper {
	margin: 0 auto;
	width: 960px;
}
li {
	list-style: none;
	display: inline;
	padding: 15px;
	font-size: 20px;
}
a {
	color: #181340;
	text-decoration: none;
}
.logo {
	float: left;
	padding: 11px;
}
#nav-bar {
	height: 70px;
	width: 100%;
	background-color: #1394f0;
	text-align: center;
	margin-bottom: -20px;
}
#nav-bar ul {
	padding: 0px;
	margin: 0px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

#nav-bar li {
	list-style-type: none;
	padding: 0px;
	display: inline;
}
#nav-bar li a {
	color: black;
	font-size: 16px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height: 70px;
	padding: 5px 15px;
	opacity: 0.7;
	font-weight: bolder;
}
.hero {
	background: url(../images/hero-image.jpg);
	height: 500px;
	width: 960px;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.hero h1 {
	font-size: 3em;
	color: #ad0919;
	margin-top: 0;
	margin-bottom: 0.5em;
}
h2 {
	text-align: center;
}
h3 {
	color: #ffffff;
	text-align: center;
	padding-top: 20px;
}
.sub-heading {
	color: black;
}
#header-image {
	border-radius: 50%;
	border: 1px solid white;
}
.hero .btn-demo {
	display: white;
	width: 300px;
	background-color: #1394f0;
	padding: 10px 40px;
	margin: 5px;
	font-size: 15px;
	border: 2px solid white;
	border-radius: 20px;
}
.hero .btn-more {
	display: #1394f0;
	width: 260px;
	background-color: white;
	padding: 10px 40px;
	margin: 5px;
	font-size: 15px;
	border: 2px solid #1394f0;
	border-radius: 20px;
}
p {
	font-size: 20px;
}
#features {
	background-color: #1394f0;
	height: 380px;
	display: flex;
	width: 960px;
	justify-content: center;
	justify-content: space-evenly;
}

.grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: calc(100% / 3);
	margin: 10px;
	padding: 5px 0;
	width: 100%;
}
.icon {
	text-align: center;
}
#demo {
	border: 1px solid #181340;
	display: flex;
	justify-content: center;
	width: 958px;
	height: 460px;
	justify-content: space-evenly;
}
input {
	padding: 9px;
	border-radius: 5px;
	width: 180px;
	margin-bottom: 15px;
}
.btn {
	display: white;
	width: 150px;
	background-color: #1394f0;
	padding: 10px 40px;
	margin: 5px;
	font-size: 15px;
	border: 2px solid white;
	border-radius: 20px;
}
#gab {
	height: 200px;
}
#price {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 50px;
}

.service {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: calc(100% / 3);
	margin: 10px;
	border: 1px solid #000;
	border-radius: 3px;
}

.service > .type {
	background-color: #1394f0;
	color: black;
	padding: 15px 0;
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
}

.service > h2 {
	margin-top: 15px;
}

.service > ol {
	margin: 15px 0;
}

.service > ol > li {
	padding: 5px 0;
}

.service > button {
	border: 0;
	margin: 15px 0;
	width: 100px;
	padding: 10px 15px;
	background-color: #1394f0;
	font-weight: 400;
	border-radius: 20px;
	font-size: 15px;
}
.service > button:hover {
	background-color: orange;
	transition: background-color 1s;
}

@media screen and (max-width: 956px) {
	#wrapper {
		width: 100%;
	}
}
