body {
    font-family: "Lato", sans-serif;
  }

  ul{
    list-style-type: none;
  }
  .bullets{
    list-style-type: square;
    padding-block: 15px;
     
  }
  #navbar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    align-items: center;
    padding-right: 20px;
  }

  header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 2.0em;
    font-weight: thin;
    padding: 10px 10px;
  }

  #main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
  }

  #main-doc header {
    text-align: left;
    margin: 0px;
  }

  img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40%;
  }

  h2{
    font-size: 20px;
  }

  code {
    display: block;
    text-align: left;
    white-space: pre;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
  }

  #navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818281;
    display: block;
    cursor: pointer;
  }

  #navbar a:hover{
    color: #f1f1f1;
  }

  /* #main-doc{
    margin-left: 270px; 
    font-size: 20px;
    padding: 10px 10px;
  } */

  header{
    color: #9980FA;
    margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
  }


  @media screen and (max-height: 450px) {
    #navbar {padding-top: 15px;}
    #navbar a {font-size: 18px;}
  }