.footer-wrapper{
    background-color: #11122b;
    color:#cbcbcb;
    font-family: "Ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    margin-top: -4px;
}
.footer-wrapper > .footer-logo > img{
    width: 180px;
    height: 100%;
}